<div class="container">
  <div class="card card-container">
    <p id="profile-name" class="profile-name-card"></p>
    <h2 align="center">Create Account</h2><br>
    <form class="form-signin">
      <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Name" required autofocus>
      <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username" required autofocus>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>
      <input type="password" [(ngModel)]="cpassword" name="cpassword" class="form-control" placeholder="Confirm Password" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="createUser()" type="submit">Create</button>
    </form><!-- /form -->
    <a href="login" class="create-account">
      Already have an account? Sign in
    </a>
  </div><!-- /card-container -->
</div><!-- /container -->

