<div class="tg-wrap"><table class="tg" style="undefined;table-layout: fixed; width: 1069px">
  <colgroup>
    <col style="width: 127px">
    <col style="width: 189px">
    <col style="width: 189px">
    <col style="width: 188px">
    <col style="width: 188px">
    <col style="width: 188px">
  </colgroup>
  <tr>
    <th class="tg-yw4l"></th>
    <th class="tg-gwj7">Segunda</th>
    <th class="tg-gwj7">Terça</th>
    <th class="tg-ummn">Quarta</th>
    <th class="tg-ummn">Quinta</th>
    <th class="tg-ummn">Sexta</th>
  </tr>
  <tr>
    <td class="tg-yw4l">8:00h ~ 10:00h</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">10:00h ~ 12:00h</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">12:00h ~ 14:00h</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">14:00h ~ 16:00h</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">16:00h ~ 18:00h</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">18:00h ~ 20:00h</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">20:00h ~ 22:00h</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
  </tr>
</table></div>
